.backdrop {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100lvh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  max-height: calc(100% - 96px);
  width: fit-content;
  max-width: calc(100% - 96px);
  background: var(--light-color);
  padding: 16px;
  box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.75);
}

.open {
  display: block;
}

.modalContents {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  width: 100%;
}

.imageContainer {
  grid-row: 1 / 2;
  width: 100%;
}

.dateContainer {
  grid-row: 2 / 3;
  justify-self: end;
  padding-right: 20px;
  min-height: 55px;
}