.imagewrapper {
  cursor: url('../../public/paw.svg'), auto;
  transition: transform 0.1s ease, filter 0.3s ease;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.75));
  }
}

.image {
  border-radius: 50%;
}
