.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 8px;
  left: 0;
  z-index: 2;
}
.main {
  margin: 8px;
}
.titleContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}