:root {
  /* palette from https://coolors.co/fcab10-d81159-dbd5b5-218380 */

  --orange-web: #fcab10ff;
  --raspberry: rgb(113, 7, 46);
  --pearl: #dbd5b5ff;
  --teal: rgb(3, 68, 65);

  --primary-color: var(--raspberry);
  --secondary-color: var(--orange-web);
  --light-color: var(--pearl);
  --background-color: var(--teal);
}

html {
  scrollbar-gutter: stable;
  margin: 0;
  background: var(--background-color);
}
body {
  margin: 0;
}
